/*
 * jsTree classic theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */
.jstree-classic { margin:0; padding:0; background:none; }
.jstree-classic li, 
.jstree-classic ins { background-image:url("d.png"); background-repeat:no-repeat; background-color:transparent; }
.jstree-classic li { padding-right:0; margin-right:0; display:block; background-position:-90px 0; background-repeat:repeat-y;  }
.jstree-classic li.jstree-last { background:transparent; }
.jstree-classic .jstree-open > ins { background-position:-72px 0; }
.jstree-classic .jstree-closed > ins { background-position:-54px 0; }
.jstree-classic .jstree-leaf > ins { background-position:-36px 0; }

.jstree-classic .jstree-hovered { position:relative; background:#d6d6d6; width:auto; padding:1px 7px 0px 2px; border-radius:4px;  }.jstree-classic .jstree-clicked { position:relative; background:#077FCC; padding:1px 7px 0px 2px; color:#fff; border-radius:4px;  }
.jstree-classic a .jstree-icon { background-position:-56px -19px; }
.jstree-classic .jstree-open > a .jstree-icon { background-position:-56px -36px; }
.jstree-classic a.jstree-loading .jstree-icon { background:url("throbber.gif") center center no-repeat !important; }

.jstree-classic.jstree-focused { background:none; }

.jstree-classic .jstree-no-dots li, 
.jstree-classic .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-classic .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree-classic .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree-classic .jstree-no-icons a .jstree-icon { display:none; }

.jstree-classic .jstree-search { font-style:italic; }

.jstree-classic .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-classic .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-classic .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-classic .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-classic .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-classic .jstree-checked > a > .jstree-checkbox:hover { background-position:-38px -37px; }
.jstree-classic .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-classic .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

.jstree-classic a { white-space:normal !important; max-width:80%; margin-right:0; padding-right:0; height:auto; max-height: 100%; } 
.jstree-classic li > ins { vertical-align:top; }
.jstree-classic .jstree-hovered, .jstree-classic .jstree-clicked { border:0; }

#vakata-dragged.jstree-classic ins { background:transparent !important; }
#vakata-dragged.jstree-classic .jstree-ok { background:url("d.png") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-classic .jstree-invalid { background:url("d.png") -18px -53px no-repeat !important; }
#jstree-marker.jstree-classic { background:url("d.png") -41px -57px no-repeat !important; text-indent:-100px; }

.jstree-classic a.jstree-search { color:aqua; }
.jstree-classic .jstree-locked a { color:silver; cursor:default; }

#vakata-contextmenu.jstree-classic-context, 
#vakata-contextmenu.jstree-classic-context li ul { background:#fff; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-classic-context li {  }
#vakata-contextmenu.jstree-classic-context li.ic_create ins { background:url('/admin/templates/default/images/new_page.png') no-repeat center center; }
#vakata-contextmenu.jstree-classic-context li.ic_delete ins { background:url('/admin/templates/default/images/trash.png') no-repeat center center; }
#vakata-contextmenu.jstree-classic-context li.ic_modinstall ins { background:url('/admin/templates/default/images/ic_modinstall.png') no-repeat center center; }
#vakata-contextmenu.jstree-classic-context li.ic_reinstall ins { background:url('/admin/templates/default/images/ic_reinstall.png') no-repeat center center; }
#vakata-contextmenu.jstree-classic-context a { color:#000; font-size:11px; font-weight:normal; }
#vakata-contextmenu.jstree-classic-context a:hover, 
#vakata-contextmenu.jstree-classic-context .vakata-hover > a { background:#00addb; color:#fff; }
#vakata-contextmenu.jstree-classic-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-classic-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; }
#vakata-contextmenu.jstree-classic-context li.jstree-contextmenu-disabled ins { opacity:.3; filter: alpha(opacity = 30);}
#vakata-contextmenu.jstree-classic-context li.vakata-separator { background:#ededed; margin:0; }
#vakata-contextmenu.jstree-classic-context li ul { margin-left:-4px; }