<!--
Шаблон вывода галереи

Содержит секции и переменные:

@categories_content - блок контента категорий галереи, который содержит листинга категорий (@categories_rows). Выводится в случае, если не запрошена конкретная категория галереи и в галереи доступно более одной категории
@categories_rows - блок контента строки категории галереи для каждой категории галереи

@content - основной блок контента галереи, который содержит листинг изображений (@rows), выводится в случае, если запрошена категория галереи или в галереи нет ни одной категории
@rows - блок контента строки изображения галереи для каждого изображения галереи
@back2cats_link - блок контента для вывода ссылки на возврат к списку категорий
%back2cats_link% - возвращает ссылки на возврат к списку категорий
@category_name - блок контента для вывода наименования категории
%category_name% - возвращает наименование категории

@no_data - блок контента, который выводится в случае, если галерея пуста 
@pages - блок контента постраничной навигации
@page_null - блок контента, который выводится в случае отсутствия необходимости в постраничной навигации

Произвольные поля (отрабатываются только в секции @rows):
%custom_field%, %custom_field_value% -  Перменная, которая содержит произвольно поле
@custom_field - блок, который выводится вместо метки произвольного поля
@custom_field_null - блок, который выводится вместо метки произвольного поля, которое не содержит данных

Note: Под `custom_field` подразумевается идентификатор произвольного поля указанный в АИ.

 -->

<!-- @categories_content -->
%rows%
<!-- @categories_rows -->
<div class="category-rows">
    <a href="%link%"><img src="%small_image%"  alt="%name%" /></a>
    <br/>%name%
</div>

<!-- @back2cats_link -->
<a href="%link%">&larr; Вернуться к списку категорий</a>

<!-- @category_name -->
<h2>%category_name%</h2>

<!-- @content -->
%back2cats_link%
%category_name%
%rows%
%pages%

<!-- @rows -->
<div>
    <a href="%link_big_image%" class="fancybox"><img src="%link_small_image%" title="%title_image%" alt="%title_image%"/></a>
    <br/>%title_image%
    <br/>%description%
    <br/>%custom_field_1%
    <br/>%custom_field_2%
</div>

<!-- @custom_field_1 -->
%custom_field_1_value%

<!-- @custom_field_1_null -->

<!-- @custom_field_2 -->
%custom_field_2_value%

<!-- @custom_field_2_val -->
%setvalue%

<!-- @custom_field_2_null -->

<!-- @no_data -->
<p>Галерея пуста</p>

<!-- @pages -->
<p class="paginator">
    %first%
    %backward%
    %previous%
    %pages_block%
    %next%
    %forward%
    %last%
</p>

<!-- @page_first -->
<a href="%link%">Начало</a>
<!-- @page_backward -->
<a href="%link%">&laquo;</a>
<!-- @page_backward_disabled -->
&laquo;
<!-- @page_previous -->
<a href="%link%">&laquo;</a>
<!-- @page_previous_disabled -->
&laquo;
<!-- @page_forward -->
<a href="%link%">&raquo;</a>
<!-- @page_forward_disabled -->
&raquo;
<!-- @page_next -->
<a href="%link%">&raquo;</a>
<!-- @page_next_disabled -->
&raquo;
<!-- @page_last -->
<a href="%link%">Конец</a>
<!-- @page_active -->
<a href="%link%">%page%</a>
<!-- @page_passive -->
%page%
<!-- @page_delimeter -->
&nbsp;-&nbsp;
<!-- @page_null -->