<!-- @header -->
<script type="text/javascript">
 $("#content_container").find("button").button();
</script>
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#catalog_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
 <div id="content_container">
 <div class="content">
 <h3>[#catalog_groups_list#]</h3>
 %table%
 <fieldset class="page_submit_field">
  <button onclick="jspub_click('show_group_form&id=-1')">[#catalog_add_group_label#]</button>
 </fieldset>
 </div>
 </div>
</div>

<!-- @delete_block -->
<a href="#" onclick="jspub_confirm('delete_group&id=%id%','[#catalog_delete_group_alert#] %name_full% ?')"><img src="/admin/templates/default/images/icon_delet.gif" alt="delete"/></a>&nbsp;&nbsp;
<!-- @table_header -->
<form action="%form_action%" method="post">
<table class="admin_table">
 <tr>
  <th class="first">[#catalog_list_group_number_label#]</th>
  <th>[#catalog_list_group_name_label#]</th>
  <th>[#catalog_list_group_id_label#]</th>
  <th>[#catalog_list_group_items_count_label#]</th>
  <th class="last">[#catalog_list_group_id_action#]</th>
 </tr>
<!-- @table_body-->
 <tr>
  <td>%number%</td>
  <td>%name_full%</td>
  <td>%name_db%</td>
  <td>%_items_count%</td>
  <td valign="middle">
   %delete_block%
   <a href="#" onclick="jspub_click('show_group_form&id=%id%')"><img src="/admin/templates/default/images/icon_edit.gif" style="vertical-align:middle;" alt="[#catalog_list_group_action_edit#]"></a>
   <!--<a href="#" onclick="jspub_confirm('generate_admin_templ&id=%id%','[#catalog_list_group_action_create_amin_template_alert#]')">[#catalog_list_group_action_create_amin_template#]</a>&nbsp;&nbsp;-->
   <a href="#" onclick="jspub_click('show_group_props&id=%id%')">[#catalog_list_group_action_add_prop#]</a>&nbsp;&nbsp;
   <!-- Пока это уберём -->
   <!-- <a href="#" onclick="jspub_click('show_items&group_id=%id%')">[#catalog_list_group_action_add_item#]</a>-->
  </td>
 </tr>


<!-- @table_footer -->
</table>
</form>
<p>[#catalog_groups_list_delete_only_empty#]</p>


<!-- @no_data -->
