<!-- @content -->
<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#catalog_base_name#]</span></span>
<div id="page_container">
 <div id="content_container">
 <div class="content">

<b>Информация о заказе</b><br>
id: %id%<br>
обновлён: %lastaccess%<br>
%ofields%
%order_html_body%
<!-- @ofield -->
%name_full% : %value%<br>
<!-- @not_found -->
<b>заказ не найден</b>
</div>
</div>
</div>