<p class="main_menu_select">Информация о сайте и обновления</p>
<p class="main_menu_select">Для корректной работы загрузки файлов на сервер (upload) рекомендованы одинаковые значения для лимита на загрузку и размера POST-запроса, а также лимита времени исполнения PHP скрипта и времени получения POST-запроса.</p>
