<!--
Шаблон корзины товаров

Содержит секции и переменные:

@list - формирование списка товаров
%total_basket_items% - Возвращает количество товаров в корзине товаров
%field_sum[price]% - сумма по одной позиции с учётом кол-ва
%field_total[price]% - общая сумма цен с учётом кол-ва
@list_null - сообщение, если в корзине нет товаров
%row% - переменная, которая будет заменена на блок @row, столько раз, сколько товаров в категории
%ending% - название элементов с правильным окончанием
@row_odd - Определяет внешний вид товаров, имеющих нечетный номер в списке товаров
@row_even - Определяет внешний вид товаров, имеющих четный номер в списке товаров
%order_link% - Переменная, которая содержит ссылку страницу оформления заказа
%catalog_link% - Переменная, которая содержит ссылку на страницу списка товаров
%link% - Переменная, которая содержит ссылку на товар (в секции %row%)
 -->

<!-- ****************************************** Шаблон корзины товаров ****************************************** -->

<!-- @list -->
Всего наименований товаров в корзине: %total_basket_items%

<form method="post" action="%basket_link%">
<table>
    <thead>
    <tr>
        <th>название</th>
        <th>цена за ед.</th>
        <th>цена общая</th>
        <th>кол-во</th>
        <th>...</th>
    </tr>
    </thead>
    %row%
</table>
<input type="submit" name="catalog_basket_upd_qty" value="Обновить кол-во">
</form>
Всего на сумму: %field_total[price]% руб<br/>
<a href="%catalog_link%">&larr; Вернуться и продолжить покупки</a><br/>
<a href="%order_link%">Перейти к оформлению заказа &rarr;</a>
<!-- @list_null -->
В корзине нет товаров

<!-- ****************************************** Шаблон товара ****************************************** -->

<!-- @row_odd -->
<tr>
	<td>%name_value%</td>
	<td>%price_value%</td>
	<td>%field_sum[price]%</td>
	<td><input type="text" name="basket_item_qty[%item_id%][%option_group%][%choice%]" value="%items_qty%" size="3"></td>
    <input type="hidden" name="basket_item_group_option[%item_id%]" value="%option_group%" size="3">
    <input type="hidden" name="basket_item_choice[%item_id%]" value="%choice%" size="3">
	<td><a href="%remove_link%">убрать</a></td>
</tr>


<!-- @row_even -->
<tr class="even">
    <td>%name_value%</td>
    <td>%price_value%</td>
    <td>%field_sum[price]%</td>
    <td><input type="text" name="basket_item_qty[%item_id%][%option_group%][%choice%]" value="%items_qty%" size="3"></td>
    <input type="hidden" name="basket_item_group_option[%item_id%]" value="%option_group%" size="3">
    <input type="hidden" name="basket_item_choice[%item_id%]" value="%choice%" size="3">
	<td><a href="%remove_link%">убрать</a></td>
</tr>

