<!--
Шаблон списка категорий

Содержит секции и переменные, которые могут быть использованы:

%list_header%	Заголовок списка категории
%curr_category_name%	Выводит название текущей категории
%link%	Заменяется ссылкой на текущую категорию
@begin - шапка
@link - вывод ссылки на категорию
@activelink - отображение ссылки на категорию, на которой сейчас находится пользователь.
@passiveactive - Выводится для элемента списка категорий, который находится в текущей дороге пользователя, и выше по уровню от текущей страницы.
@delimiter - Выводится между любыми элементами списка.
@end - подвал

 -->

<!-- ****************************************** Шаблон списка категорий ****************************************** -->


<!-- @begin -->
		<h3>%list_header%</h3>
		<ul>
<!-- @link -->
			<li><a href="%link%" title="%name_value%">%name_value%</a></li>
<!-- @activelink -->
			<li>%name_value%</li>
<!-- @passiveactive -->
			<li>%name_value%</li>
<!-- @delimiter -->
<!-- @end -->
		</ul>