<span class="content_header">[#admin_module_label#] &rarr; <span class="black">[#search_name_modul_base_name#]</span> (%submodul_name%)</span>
<div id="page_container">
 <div id="content_container">
  <div class="content">
  
  <h3>[#search_admin_index#]</h3>

      <div style="width: 400px;">
   <table class="admin_table" cellpadding="10">
     <tr>
       <th colspan="2"> [#search_admin_table_label#] </th>
     </tr>
     <tr>
       <td style="width: 50%;">[#search_admin_table_all_index#]</td>
       <td>%index_page%</td>
     </tr>
     <tr class="admin_table_wstring">
       <td>[#search_admin_table_all_words#]</td>
       <td>%index_word%</td>
     </tr>

     <tr class="admin_table_wstring">
       <td>[#search_admin_last_index_time#]</td>
       <td>%last_index_time%</td>
     </tr>
     <tr class="admin_table_wstring" >
       <td colspan="2" style="height: 10px;"></td>
     </tr>
     <tr>
       <th colspan="2"> [#search_admin_table_label2#] </th>
     </tr>
     <tr>
       <td>[#search_admin_table_php_mem#]&nbsp;%is_change%</td>
       <td>
           %php_mem%<br>
           <small>[#search_admin_table_php_mem_coment#]</small>
       </td>
     </tr>
     <tr>
       <td>[#search_admin_table_time_life#]</td>
       <td> %script_life% </td>
     </tr>
   </table>

   <fieldset class="page_submit_field">
    <input type="button" value="[#search_admin_button_flushindex#]" onclick="jspub_click('flush_index')">
    <input type="button" value="[#search_admin_button_reindex#]" onclick="jspub_click('start_index&firstime=1')">
   </fieldset>
      </div>
 </div>
</div>
</div>