<!-- @begin -->
<span class="content_header">[#global_properties_CMS#] &rarr; <span
        class="black">[#global_prop_label_log#]</span></span>

%error_dir_log%

<div id="page_container">
    <div id="content_container">
        <div id="page_tabs">
            <ul>
                <li><a href="#logs_settings">Настройка</a></li>
                <li><a href="#handlers_list">Описание обработчиков</a></li>
                <li><a href="#logs_file">Файлы с логами</a></li>
            </ul>
        </div>
        <div class="content" id="logs_settings">
            <h3>Настройка обработки логов</h3>

            %info%
            <script type="text/javascript">
                var params_table = $("#params_table");
                var params_title = $("#params_title");
                function handler_params(value){
                    params_title.show();
                    params_table.html("<tr><td colspan='2'>Запрос параметров....</td></tr>");
                    $.get("/admin/index.php?action=set_left_menu&leftmenu=log_handler_params&handler="+value,function(data){
                        if(data=="null"){
                            params_title.hide();
                            params_table.html("");
                            return;
                        }
                        try{
                            params_table.html("");
                            var array = $.parseJSON(data);
                            for(var i=0; i<array.length; i++) {
                                var row = '<tr>'
                                + '<td style="width: 120px; vertical-align: top;">' + array[i].name + '</td>'
                                + '<td style="width: 420px">'
                                + '<input type="text" name="p_' + array[i].id + '" value="' + ((array[i].default)?array[i].default:"") + '">';
                                if(!array[i].required) row += '<i style="margin: 8px 3px; display: inline-block;">необязательное поле</i>';
                                if(array[i].description)
                                    row += '<div style="font-style: italic; clear: both;">' + array[i].description + '</div>';
                                row += '</td></tr>';

                                params_table.append(row);
                            }
                        }catch(E){
                            params_table.html("Ошибка обработки: <br>"+E+"<br>"+data); return;
                        }
                    });
                    return;
                }
            </script>
            <form action="/admin/index.php?action=set_left_menu&leftmenu=log_add" method="POST"
                  onsubmit="santaFormSubmit('form_add'); return false;" id="form_add">
                <table>
                    <tr>
                        <td style="width: 120px">Уровень:</td>
                        <td>
                            <select name="level">
                                <option value="">Все</option>
                                <option value="ERROR">ERROR</option>
                                <option value="WARNING">WARNING</option>
                                <option value="INFO">INFO</option>
                                <option value="DEBUG">DEBUG</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>ID:</td>
                        <td>
                            <input name="id" type="text">
                            <i style="margin: 8px 3px; display: inline-block;">необязательное поле</i>
                        </td>
                    </tr>
                    <tr>
                        <td>Обработчик:</td>
                        <td>
                            <select name="handler" onchange="handler_params($(this).val())">
                                %handler_list_select%
                            </select>
                            <script type="text/javascript">
                                handler_params($("[name='handler']").val());
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; font-weight: bold;" colspan="2" id="params_title">Параметры:</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table id="params_table"></table>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right" colspan="2">
                            <input type="submit" class="submit" value="Добавить">
                        </td>
                    </tr>
                </table>
            </form>
            <br>

            <form action="/admin/index.php?action=set_left_menu&leftmenu=log_multi_delete"
                  onsubmit="action_confirm(function(){santaFormSubmit('form_delete');},'Подтвердите удаление'); return false;"
                  method="POST" id="form_delete">
                <table class="admin_table" style="margin-bottom:10px;">
                    <tr>
                        <th style="width: 25px"></th>
                        <th>Уровень</th>
                        <th>ID</th>
                        <th>Обработчик</th>
                        <th>Дополнительные параметры</th>
                        <th style="width: 25px"></th>
                    </tr>
                    %list%
                </table>
                <script type="text/javascript">
                    function toggle_checkbox(name) {
                        $("[type='checkbox'][name='" + name + "[]']").each(function () {
                            $(this).prop("checked", !$(this).prop("checked"));
                        });
                    }
                </script>
                    <span style="border-bottom: dashed 1px #000; cursor: pointer;"
                          onclick="toggle_checkbox('delete_ids')">Выбрать все</span>
                <input type="submit" value="Удалить выбранные">
            </form>
            <hr>
            <br>

            <div style="text-align: center">%pages%</div>
        </div>

        <div class="content" id="handlers_list">
             %handlers_list%
        </div>

        <div class="content" id="logs_file">
            <table class="admin_table">
                <tr>
                    <th>Файл</th>
                    <th>Последнее изменение</th>
                    <th style="width: 25px"></th>
                </tr>
                %file_list%
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#page_tabs').parent().tabs();
</script>
<!-- @row -->
<tr>
    <td><input type="checkbox" name="delete_ids[]" value="%id%"></td>
    <td>%level%</td>
    <td>%log_id%</td>
    <td>%handler%</td>
    <td>%params%</td>
    <td style="text-align: right;">
        <span style="cursor: pointer;"
              onclick="live_send_link_confirm('/admin/index.php?action=set_left_menu&leftmenu=log_single_delete&delete_id=%id%','Подтвердите удаление')"
              title="[#common_delete#]">
            <img src="/admin/templates/default/images/icon_delet.gif" alt="[#common_delete#]"/>
        </span>
    </td>
</tr>
<!-- @row_handler -->
<div style="border-bottom: 1px solid #CCC; padding: 5px 0; margin-bottom: 11px; font-weight: bold;">%id% - %name%</div>
<div style="margin-bottom: 25px">%description%</div>
<!-- @row_files -->
<tr>
    <td><a href="/admin/index.php?action=set_left_menu&leftmenu=log_file_download&file=%name%">%name%</a></td>
    <td>%date_edit%</td>
    <td><span style="cursor: pointer;"
              onclick="live_send_link_confirm('/admin/index.php?action=set_left_menu&leftmenu=log_single_file_delete&file=%name%','Подтвердите удаление')"
              title="[#common_delete#]">
            <img src="/admin/templates/default/images/icon_delet.gif" alt="[#common_delete#]"/>
        </span></td>
</tr>
<!-- @error_dir_log -->
<div style="border-left:5px solid #c92800; padding: 5px 10px; margin: 10px 0; background: #FFF;">Каталог /logs недоступен для записи!</div>