<!--
Вывод ленты новостей

Секции:
@content 	- 	Основной блок, которым замещается метка в шаблоне, при вызове действия по формированию ленты. Использует переменную, которая будет заменена на блок @rows, столько раз, сколько новостей в ленте. (Переменная pages используется только в действии «Сформировать архив», при формировании ленты данная переменная игнорируется.)

@no_data 	- Выводиться вместо блока @content в том случае, если не найдено ни одной новости для вывода.
@rows 	(переменные: date, time, url, header, author description_short, description_full 	image, source) - Определяет внешний вид одной новости ленты. Использует достаточно много переменных, часть из которых заменяются другими блоками (image, source).
@image 	image_source, image_thumb, image_big, header 	- 	Выводиться вместо переменной image в блоке @rows, в том случае, если у новости есть главное изображение.
@no_images 	- 	- 	Выводиться вместо переменной image в блоке @rows, в том случае, если у новости не используется главное изображение.
@source 	- 	Выводиться вместо переменной source в блоке @rows, в том случае если у новости определёна ссылка на источник и название источника новости.
@source_no_url - 	Выводиться вместо переменной source в блоке @rows, в том случае если у новости определёно только название источника, а ссылка на сайт источника отсутствует.
@source_no_all 	- 	Выводиться выводится вместо переменной source в блоке @rows, в том случае, если у новости не определёно ни название источника, ни ссылка на него.

Переменные:
переменная блок применения	описание
page_name Имя страницы к которой привязан виджет модуля.
date 	@rows и @fulltext 	Вводит дату новости в формате ДД.ММ.ГГ.
time 	@rows и @fulltext 	Вводит время новости в формате ЧЧ:ММ.
header 	@rows, @image, @fulltext, @fulltext_image 	Замещается заголовком новости.
author 	@rows и @fulltext 	Заменяется строкой с автором, указанным в соответствующем поле.
description_short 	@rows и @fulltext 	Замещается кратким описанием новости.
description_full 	@rows и @fulltext 	Замещается полным текстом новости.
url_back 	@fulltext 	Замещается адресом, с которого посетитель пришёл для просмотра полного текста новости.
url 	@rows 	Замещается ссылкой, по которой должен перейти пользователь для просмотра полного текста новости.
image_source 	@image и @fulltext_image 	Будет заменена путем до главного изображения исходного размера, которое было закачено при создании новости.
image_thumb 	@image и @fulltext_image 	Будет заменена путем до большого варианта главного изображения, которое было создано для новости. Может быть пустой строкой, если в параметрах модуля, размеры этого варианта главного изображения установлены в нулевые значения.
image_big 	@image и @fulltext_image 	Будет заменена путем до маленького варианта главного изображения, которое было создано для новости. Может быть пустой строкой, если в параметрах модуля, размеры этого варианта главного изображения установлены в нулевые значения.
source_name 	@source, @source_no_url, , @fulltext_source и @fulltext_source_no_url 	Заменяется именем источника новости, указанного в соответствующем поле новости.
source_url 	@source, @source_no_url, @fulltext_source и @fulltext_source_no_url 	Заменяется ссылкой на сайт в сети Интернет источника новости, указанного в соответствующем поле новости.
url 	@page* и @block* (все участвующие в формировании постраничной навигации). 	Заменяется ссылкой для перехода к конкретной странице (в зависимости от используемого блока)
page 	@page* и @block* (все участвующие в формировании постраничной навигации). 	Замещается номер страницы (в зависимости от используемого блока).
 -->

<!-- ****************************************** Шаблоны ленты новостей ****************************************** -->

<!-- @content -->
			<div id="lenta">
				<p><span>Новости</span></p>
				<ul>
%rows%
				</ul>
			</div>
<!-- @rows -->
					<li>
						<small>%date%</small> <br />
						<a href="%url%" title="%header%">%description_short%</a>
					</li>
<!-- @no_data -->
					<li>
						Нет новостей
					</li>
<!-- @image -->
<img src="%image_thumb%" border="0" alt="%header%" align="left" title="%header%"/>
<!-- @no_images -->
Картинки нет
<!-- @source -->
<a href="%source_url%">%source_name%</a>
<!-- @source_no_url -->
%source_name%
